<div class="flex justify-center gap-1 md:justify-between items-center  py-1 px-2 md:px-10 lg:px-20 border-b-2 border-b-black50 ">

  <app-logo></app-logo>

  <div class="w-10/12 h-10 md:h-12 md:w-300 lg:w-560 flex items-center justify-between border border-gray100 rounded-3xl p-2 pl-4 shadow-md">
    <div class="flex h-fit items-center w-full">
      <input [formControl]="search" placeholder="Buscar por Pais...."
      class="outline-none focus:outline-none bg-tranparente w-full text-black600 placeholder:text-base placeholder:text-black600 placeholder:font-medium">
    </div>
    <mat-icon class="bg-gianOrange rounded-full text-white p-2 md:p-3 text-xl md:text-2xl">
      <span class="">
        search
      </span>
    </mat-icon>
  </div>


  <div class="flex gap-2">
    <button (click)="show()"
      class="hidden md:block font-medium text-Black600 rounded-full p-3 transition duration-150 ease-in-out hover:bg-orange100 hover:text-black600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700">Publica tu espacio
    </button>

  <div class="hidden gap-2 md:flex">   
    <button  [matMenuTriggerFor]="menu">
      <mat-icon class="text-5xl md:text-6xl text-black100">
        <span class="material">
          account_circle
        </span>
      </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="!showLogin" routerLink="/auth" mat-menu-item>Iniciar sesión</button>
      <button *ngIf="showLogin" mat-menu-item (click)="logout()">Salir</button>
    </mat-menu>
  </div>
</div>


