<div class="flex justify-center gap-1 md:justify-between items-center  py-1 px-2 md:px-10 lg:px-20 border-b-2 border-b-black50 ">

  <app-logo></app-logo>

  <div class="w-10/12 h-10 md:h-12 md:w-300 lg:w-560 flex items-center justify-between border border-gray100 rounded-3xl p-2 pl-4 shadow-md">
    <div class="flex h-fit items-center w-full">
      <input [formControl]="search" placeholder="Buscar por Pais...."
      class="outline-none focus:outline-none bg-tranparente w-full text-black600 placeholder:text-base placeholder:text-black600 placeholder:font-medium">
    </div>
    <mat-icon class="bg-gianOrange rounded-full text-white p-2 md:p-3 text-xl md:text-2xl">
      <span class="">
        search
      </span>
    </mat-icon>
  </div>



  <div class="hidden gap-2 md:flex">
    <button routerLink="/property-register"
      class="text-sm font-medium text-[#e45858] rounded-full p-3 transition duration-150 ease-in-out hover:bg-neutral-100 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700">Publica tu espacio</button>
    <button routerLink="/auth">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#717171" class="w-7 h-7">
        <path fill-rule="evenodd"
          d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
          clip-rule="evenodd" />
      </svg>
    </button>
    <button  [matMenuTriggerFor]="menu">
      <mat-icon class="text-5xl md:text-6xl text-black100">
        <span class="material">
          account_circle
        </span>
      </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
    <button routerLink="/auth" mat-menu-item>Iniciar Sesion</button>
    <button mat-menu-item>Salir</button>
    </mat-menu>
  </div>
</div>


