<article style="background-color: #F3F7F8;" class="xl:w-full mt-5 rounded-2xl h-max flex flex-col md:flex-row lg:flex-col gap-y-3 justify-center items-center pt-7 pb-4 gap-x-0 md:gap-x-4 ">
  <div class="bg-white border border-gray-200 rounded-xl py-5 px-10 w-3/4 md:w-5/12 lg:w-7/12  shadow-lg">
      <div class="flex flex-col lg:flex-col xl:flex-row sm:flex-row gap-x-5 justify-center items-center ">
          <img class="w-24 h-24 rounded-full shadow-lg" src="{{profile}}" alt="Bonnie image" />
          <div class="flex flex-col ">
              <span class="text-2xl text-center font-bold text-gray-900">{{home.userId.name}}</span>
              <span class="text-sm text-center text-gray-900  font-medium">Super anfitrion</span>
          </div>
      </div>
  </div>
  <div class="mt-5 flex flex-col gap-2 justify-center w-3/4 md:w-64 lg:w-7/12 ">
      <div class="flex flex-row items-center justify-start gap-3">
          <i class="fa-solid fa-calendar-days" style="color: #555557;"></i>
          <span>
              Años como anfitrion: 6
          </span>
      </div>
      <div class="flex flex-row items-center justify-start gap-3">
          <i class="fa-solid fa-briefcase" style="color: #555557;"></i>
          <span>Artista</span>
      </div>
      <ng-container *ngIf="home.userId.birthDate">
        <div class="flex flex-row items-center justify-start gap-3">
            <i class="fa-solid fa-cake-candles" style="color: #555557;"></i>
            <span>{{home.userId.birthDate}}</span>
        </div>
      </ng-container>
      <div class="flex flex-row items-center justify-start gap-3">
          <i class="fa-solid fa-dog" style="color: #555557;"></i>

          <ng-container *ngIf="home.pets_allowed else noallowed">
            <span >Mascotas: Permitidas</span>
          </ng-container>

          <ng-template #noallowed>
            <span >Mascotas: No Permitidas</span>
          </ng-template>
      </div>

      <div class="flex flex-row items-center justify-start gap-3">
        <i class="fa-solid fa-envelope fa-fade fa-sm"></i>
        <span>{{home.userId.email}}</span>
      </div>
      <div>
          <p class="text">{{home.userId.description}}</p>
      </div>
  </div>
</article>
