<h2>Conoce al anfitrion</h2>
<article style="background-color: #F3F7F8;" class="xl:w-full mt-5 px-10 rounded-lg pt-5 pb-5 h-max mb-5 lg:mb-0 flex flex-col items-center justify-center">
        <div class="lg:w-full max-w-sm bg-white border border-gray-200 rounded-xl shadow p-5 flex flex-col items-center">
            <div class="flex flex-col lg:flex-col xl:flex-row sm:flex-row items-center justify-center gap-5">
                <img class="w-24 h-24 rounded-full shadow-lg" src="{{profile}}" alt="Bonnie image" />
                <div class="flex flex-col">
                    <h5 class="mb-1 text-xl text-center font-medium text-gray-900">Bonnie Green</h5>
                    <span class="text-2xl text-center text-gray-900 ">Super anfitrion</span>
                </div>
            </div>
        </div>
        <div class="mt-5 flex flex-col gap-2">
            <div class="flex flex-row items-center justify-start gap-3">
                <i class="fa-solid fa-calendar-days" style="color: #555557;"></i>
                <span>
                    Años como anfitrion: 6
                </span>
            </div>
            <div class="flex flex-row items-center justify-start gap-3">
                <i class="fa-solid fa-briefcase" style="color: #555557;"></i>
                <span>Artista</span>
            </div>
            <div class="flex flex-row items-center justify-start gap-3">
                <i class="fa-solid fa-cake-candles" style="color: #555557;"></i>
                <span>01/01/1990</span>
            </div>
            <div class="flex flex-row items-center justify-start gap-3">
                <i class="fa-solid fa-dog" style="color: #555557;"></i>
                <span>Mascotas: Permitidas</span>
            </div>
            <div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque illum in cum ipsam amet quos,
                    aliquid
                    perferendis eius ea iure.</p>
            </div>
        </div>
</article>
