<mat-accordion class="example-headers-align w-full">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Deja tu comentario
      </mat-panel-title>
      <mat-icon class="m-4" >insert_comment</mat-icon>
    </mat-expansion-panel-header>
    <div class="flex gap-2 items-center flex-col  sm:flex-row">
      <mat-form-field class="grow">
        <mat-label>First name</mat-label>
        <input matInput class="w-full" >
      </mat-form-field>

      <button mat-button class="flex justify-center items-center ">
        <mat-icon class="m-4">send</mat-icon>
          Enviar mensaje
      </button>

    </div>
  </mat-expansion-panel>
</mat-accordion>
